{% extends 'base.html.twig' %}
{% block title %}La boutique A - Modifer mon mot de passe{% endblock %}

{% block content %}
{{form(form)}}

<a href="{{path('app_account')}}">retourner à mon compte</a>
{% if notification%}
 
<div class="alert">{{ notification}}</div> 

{% endif %}


{% endblock %}
