{% extends 'base.html.twig' %}
{% block title %}La boutique A - Modifer mon mot de passe{% endblock %}

{% block content %}
<p>bienvenue {{app.user.firstname}}</p>

<a href="{{path('account_password')}}">retourner à mon compte</a>
{% endblock %}
