
*{
    outline: none;
}
.register-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.bloc-content{
    background: rgb(218,235,242);
background: linear-gradient(45deg, rgba(218,235,242,1) 0%, rgba(224,238,243,1) 10%, rgba(230,241,246,1) 20%, rgba(232,243,246,1) 30%, rgba(237,244,247,1) 40%, rgba(239,246,249,1) 50%, rgba(239,247,249,1) 60%, rgba(243,248,251,1) 70%, rgba(246,249,252,1) 80%, rgba(246,250,251,1) 90%);
    width: 30%;
    
    padding: 30px 5%;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1{
    color: #212E32;
    text-align: center;
    font-size: 2rem;
    text-transform:uppercase;
    margin-bottom: 25px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: rgb(255, 255, 255); 
    
}


form input{
    background: none;
    border: 1.5px solid #212E32;
    border-radius: 7px ;
    width: 100%;
    height: 45px;
    padding: 0px 0px 0px 10px;
}

.first-last-name{
    display: flex;
    gap: 20px;
    
}
.first-last-name div{
    width: 100%;
    
}
#register_birthdate {
    display: flex;
    justify-content: space-between;
}
#register_birthdate select{
    background: none;
    border: 1.5px solid #212E32;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    position: relative;

    overflow: hidden;



}

#register_birthdate select option{
   text-align: center;


}

button{
    cursor: pointer;
    background-color: #212E32;
    border: none;
    border-radius: 7px ;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 1.2rem;
}

.error-display{
    visibility: hidden;
    color: #212E32;

}