*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}


.header{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
}

.header-top{
        display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;
}


.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.header-content p{
    font-size: 8rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 700px;

}


.title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.header-top a{

    color: rgb(255, 255, 255);
    padding: 0 20px;
    font-size: 1.6rem;

}

.content{
    
    height:100vh;
    background: url(../img/wallpaper.jpg) no-repeat;
    background-position:center;
    background-size: cover;
}